name: i18n check

on: 
  workflow_call:

jobs:
  i18n-check:
    runs-on: ubuntu-latest
    
    env:
      #set R CLI color
      R_CLI_NUM_COLORS: 16777216
    
    steps:
     - uses: actions/checkout@v3
      
     - uses: r-lib/actions/setup-r@v2
   
     - name: Setup tools
       run: |
         install.packages(c("cli", "potools"), INSTALL_opts = c('--no-lock'))
       shell: Rscript {0}
       
     - name: Ready i18n check script
       run: |
         pwd
         # foolish but simple access script:)
         curl -o $PWD/i18nCheck.R https://raw.githubusercontent.com/jasp-stats/jasp-actions/master/translations/i18nCheck.R
         # give script permissions
         chmod +x $PWD/i18nCheck.R
       
     - name: Run i18n check
       run: Rscript $PWD/i18nCheck.R
